@model Lab_02.Models.Book

@{
    ViewBag.Title = "EditBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="padding-left:80px" class="text-danger">EditBook</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
       <table>
           <tr>
               <td>
                   Title
               </td>
               <td>
                   @Html.TextBoxFor(model => model.Title, new { @class = "form-control", placehoder = "Title" })
               </td>
           </tr>
           <tr>
               <td>
                   Author
               </td>
               <td>
                   @Html.TextBoxFor(model => model.Author, new { @class = "form-control", placehoder = "Author" })
               </td>
           </tr>
           <tr>
               <td>
                   Image Cover
               </td>
               <td>
                   @Html.TextBoxFor(model => model.ImageCover, new { @class = "form-control", placehoder = "Image Cover" })
               </td>
           </tr>
           <tr style="text-align:center;padding-top:20px;">
               <td colspan="2">
                   <input type="submit" value="Save Book" class="btn btn-danger"/>
                </td>
           </tr>
       </table>
}
<p></p>
<div>
    @Html.ActionLink("Back to List", "ListBookModel")
</div>
